/*
Amber Paulen master stylesheet by Simon Griffee - hypertexthero.com
amberpaulen.css
Monday, 19 November 2012
*/

* {color:#000; margin:0; padding:0;}
body, html {height:100%;}
body {text-align:center; color:#000; font-family:georgia, serif; font-size:100%; margin:0; padding:0 1.5em; background:#fafafa url(../img/header-bg.jpg) repeat-x 0 -182px;} 
p.skip {display:none;}
/* =Links, =Images ------------------------------------------------ */
a {outline:none !important; font-weight:bold;} /* Prevent visible outline on clicked anchors in Firefox */
a:link {color:#360; padding-bottom:0;}
a:visited {color:#606; padding-bottom:0;}
a:hover {color:#606; text-decoration:none;}
a:active {color:#900; outline:none;}
img {border:0; border-style:none; text-decoration:none; display:block; margin:0 0 0.7em;}
a:link img, a:visited img {border:0; border-style:none; border-bottom:none;}
a.imglink:link, a.imglink:visited {border: none;}
/* Trying to stop IE form putting a border under linked images. Unsuccessful so far. Update: Had to assign a class to links: http://www.webmasterworld.com/forum83/2276.htm */
h1 a:link, h1 a:visited {text-decoration:none; font-weight:normal;}
/* =Layout ------------------------------------------------ */
div#page {max-width:970px; text-align:left; margin:0 auto 0 !important; padding:0 !important; line-height:0 !important;}
#accessibility {display:none;}
div#header {/*height:188px;*/ position:relative; margin:0 auto 8em; padding:0; line-height:0 !important;}
#content {max-width:33em; margin:0 auto;}
body#goodbooks #content {margin-top:56px;}
/*  =Logo ---------------- */
p#logo {margin-top:0 !important; padding-top:0 !important; line-height:0 !important;}
p#logo a {clear:both; display:block; width:180px; height:30px; text-indent:-2000em; /* Hide the text/link off-screen while keeping it in the document so you can see it in mobile devices and older browsers. */  text-align:left; position:absolute; bottom:3.4em; left:0; border:none;}
p#logo a:hover {background-position:0 -30px;}

ul#navigation {list-style:none !important; position:absolute; bottom:3.4em; right:0; font-size:12px; line-height:18px; margin-top:0 !important;}
ul#navigation li {text-align:right; margin-top:0 !important; padding-top:0 !important; margin-bottom:2px !important;}
ul#navigation li a:link, ul#navigation li a:visited {color:#000; text-decoration:none; padding:0.2em 0.4em; border-top:1px solid #9b9b9b;}
ul#navigation li a:hover, ul#navigation li a:active {background:#fff; font-weight:bold;}

div#adspot img {margin:3em 0 0.4em;}
div#adspot p {color:#333; font-size:11px;}
div.banner {/*width:120px; height:90px; background:#930;*/ float:right; margin-top:14em; display:block;}
div#sidebar h3 {margin:0 0 0.5em; text-align:right; padding-left:30px;}

ul.wet_recent_comments {list-style:none; padding-left:30px; text-align:right;}
ul.wet_recent_comments li {font-size:0.9em;}
ul.wet_recent_comments li p {font-size:inherit; line-height:inherit;}
#sidebar a:link, #sidebar a:visited {text-decoration:none;}
#sidebar a:hover, #sidebar a:active {text-decoration:underline;}

body#home a.nav-home,
body#archives a.nav-archives,
body#about a.nav-about,
body#tblm a.nav-tblm, 
body#fiction-other-writings a.nav-fiction-other-writings, 
body#contact a.nav-contact,
body#goodbooks a.nav-goodbooks {font-weight:bold;}

#footer {padding:1em 0 4em; margin:2em auto; text-align:left; color:#333; width:33em; /*border-top:double #eee;*/}
#footer p {font-size:11px;color:#333;}
#footer p a {color:#333;}

div.datemeta {margin-left:-197px; width:147px; float:left; clear:right; text-align:right;}
div.datemeta a:link, div.datemeta a:visited {color:#000; text-decoration:none;}
div.datemeta a:hover, div.datemeta a:active {color:#606;}
p.meta {font-size:11px; line-height:17px; color:#000;}
p.meta span {font-size:11px;}
p.meta em {font-family:"Zapf Dingbats", "Apple Symbols", "Arial Unicode MS", sans-serif; font-size:11px; line-height:0;}
p.date, p.date-search {color:#666; margin-bottom:0; font-size:12px;} 
img.lead {margin:0.4em 0 1.5em -10%; display:block;}

p.preheading {font-size:10px; line-height:16px; margin-bottom:0.10em; letter-spacing:0.1em; text-transform:uppercase;}

h1 {font-family:georgia, serif; margin:0 0 2.2em; font-weight:normal; color:#000; font-size:24px; line-height:28px;}
h1.maintitlewithextended {margin-bottom:0;}
div#content h1 a:link, div#content h1 a:visited {color:#000; text-decoration:none !important;}
div#content h1 a:hover, div#content h1 a:active {color:#606; margin-top:0 !important;}
h2 {font-size:20px; line-height:24px; font-family:georgia, serif; margin:1.4em 0 0.25em; font-weight:normal; color:#000;}
h2.bookextendedtitle {margin-top:0; font-size:16px; margin-bottom:2.4em;}
body#search h2 {margin-top:0;}
h2#comments {margin-top:3em;}
h3 {font-size:0.9em; line-height:1.1em; font-weight:bold; margin:1.7em 0 0.5em; color:#000;}
h3.bookauthor {font-size:11px; margin-bottom:0.25em; font-weight:normal; letter-spacing:0.1em; text-transform:uppercase; margin-top:0;}
h3#commentator {font-family:georgia, serif; margin-bottom:0 !important;}
h4 {font-size:1em; font-weight:normal; font-style:italic; margin:1.7em 0 0.5em;}
h5 {font-size:0.85em; text-transform:uppercase; margin:1.7em 0 0.5em;}
h6 {font-size:0.8em; text-transform:uppercase; font-style:italic; margin:1.7em 0 0.5em;}
/****************************************************************************
=Paragraphs, =Misc
****************************************************************************/
p {font-size:16px; line-height:24px; margin-bottom:1.4em;}
body#archives #content p {margin-bottom:0.25em;}
body#archives #content p em {font-size:0.8em; letter-spacing:normal; font-style:italic;}
/*li {}*/

ul.paging {list-style:none;}
ul.paging li {font-size:11px !important; margin-bottom:1.4em; text-transform:uppercase; letter-spacing:0.1em;}
ul.paging li em {text-transform:capitalize !important;}

body#search p.date {text-align:left;}
p.feeds {padding-top:3em;}
p.end {font-size:11px; margin:2em 0; letter-spacing:0.2em;}
body#article p.end {margin-bottom:2em !important;}
p.caption {font-size:0.85em; margin:-1.2em 0 1.6em !important; font-style:italic; max-width:500px;}
p.caption a {text-decoration:none; border-bottom:1px dotted #9C6;}
p.entry-summary {margin-bottom:3em;}
body#blog p.end {margin-bottom:3em;}
p.smallprint, p.footnote {font-size:0.8em; color:#333;}
sup.footnote {line-height:0; font-weight:bold;}
p.footnote sup {font-weight:bold;}
span.caps, strong.caps {font-size:0.95em;}
/*span.dc {font-size:48px; line-height:48px; float:left; padding-right:0.1em;}*/
span.dc {font-size:48px; line-height:0;}
.current {font-style:italic; border-left:8px solid #ddd; padding-left:5px;}
li.current a {color:#000 !important;}
.clear {clear:both;}
.floatleft {float:left; margin:1em 2.5em 1.5em 0;}
.floatright {float:right; margin:1em 0 1.5em 2.5em;}

hr {height:1px; background:#000; margin:12px auto 12px; border:none 0; border-top:1px solid #000; display:block;}
* html body hr {height:0; background:none; margin-top:-10px;}
blockquote {margin:1em 0 1.4em 0; padding-left:2em; background:url(../img/blockquote-bg.gif) no-repeat top left;}
blockquote p {color:#330;}
pre {font-family:monospace; font-size:1em; line-height:1.5em; background:#eee; padding:10px;}
em, i, cite {font-style:italic;}
strong, b {font-weight:bold;}
/*del {font-style:line-through;}*/
ins {background:#ffc; text-decoration:none; border-bottom:1px dashed;}
kbd {background:#ff9;}
acronym, cite {border-bottom:1px dashed #999;}
address {margin:1.5em 0; font-style:italic;}

.small, .smallpermlink {font-size:0.85em !important; text-decoration:none;}
.smallpermlink {margin:0 0 6em;}
.info {font-size:0.6px;}
.quiet {color:#999;}

body#archives #content p {margin-top:0; margin-bottom:0.25em;}
body#archives #content p em {font-size:0.75em !important; line-height:1em;}
body#archives #content p em.bookauthorarchives {text-transform:uppercase !important; font-size:0.70em !important;}
/****************************************************************************
=Lists
****************************************************************************/
ul {list-style:disc inside;}
ul.left {float:left;}
ul.right {float:right;}
dl {font-size:1em; line-height:1.4em;}
div#content li, div#content dd {font-size:16px; line-height:24px;}
/*ul ul, ol ol {margin-left: 1.5em;
}*/
ul, dl, ol {margin:1em 0 1em 0.20em;
}
ol {font-size:inherit; list-style:decimal inside;}
/****************************************************************************
=Forms
****************************************************************************/
textarea {width:90%;}
input, textarea {padding:4px; background:#fff; margin:0 0 1em; border:1px solid #ccc;}
textarea {min-height:15em; margin-bottom:1em;}
label, form#search input {font-size:14px; line-height:19px;}
form#search input {padding:4px;}
label span {font-size:12px;}
div.button input {width:auto; padding:10px;}
input.button, input.zemSubmit {text-transform:capitalize; font-size:0.8em; line-height:1.2em; padding:0.75em; background:#c30; color:#fff; border-width:1px;}
input.button:hover, input.zemSubmit:hover {cursor:pointer !important;}
input.button.disabled {cursor:auto !important;}
input.searchbutton {text-transform:capitalize; margin:2px 0;}
input.searchinput {margin-bottom:2px;}
/*span.checkbox label {font-size:1em;}*/
input.checkbox {margin:1em 0 0; background:#eee;}
input#txpCommentSubmit, input#txpCommentPreview {padding:5px 15px; background:#9c3; margin:0.5em 0;}
input#txpCommentSubmit {font-weight:bold; font-style:italic;}
input#txpCommentSubmit.disabled {padding:5px 15px; background:#ccc; color:white;}
fieldset {padding:1em; border:1px solid #ddd;}
div.comment.even.author {background:#fcc !important;}
div.comment.odd.author {background:#fcc !important;}
/****************************************************************************
=Comments
****************************************************************************/
div.commentform {margin:1.5em 0; padding:0;}
div.comment {padding:1.5em; margin:1.5em auto;}
div#commentpreviewnote p {color:#606;}
div#commentpreviewnote em strong {background:#9c3; padding:5px; font-weight:normal; font-size:0.8em; line-height:0;}
div#cpreview {border:dashed 1px #606;margin:1em 0; padding:1em 1.5em 1.5em;}
ul.comments_error {color:#900;}
ul.zemError {list-style:none;}
div.zemThanks p {color:#C30 !important;}
div#cpreview h3 {margin-left:1em;}
form#txpCommentInputForm {margin:1em 0; padding:0 0 1em;}
#cpreview div.comment {padding:0.2em 1em;}
/* 'even' and 'odd' are default classes assigned by the <txp:ajw_comment_alt /> tag of the ajw_comment_alt plugin to alternate the background of comments. */
div.odd {background:#eee;} 
div.even {background:transparent;}
/*div.comment.even span.comment-no a {color:#333 !important;}*/
/*div.comment span.comment-no a:hover, div.comment span.comment-no a:active {color:#333 !important;}*/
p.comment_meta {color:#333;}
div.comment p.comment_meta span.comment-no a {font-size:2em; float:left; padding:0 0.25em 0 0; border:none;}
/****************************************************************************
=Tables
****************************************************************************/
table {width:auto; padding:0; margin:0;} 
table caption {padding:0 0 5px 0; width:auto;   font-style:italic; text-align:right;} 
table th {font:bold 11px georgia, serif; color:#000; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; letter-spacing:2px; text-transform:uppercase; text-align:left; padding:6px 6px 6px 12px; background:#eee; /*url(images/bg_tableHeader.jpg) no-repeat*/} 
table th.nobg {border-top:0; border-left:0; border-right:1px solid #ccc; background:none;} table td {border-right:1px solid #ccc; border-bottom:1px solid #ccc; background:#fff; padding:6px 6px 6px 12px;} 
table td.alt {background:#F5FAFA;} 
table th.vert {border-left:1px solid #ccc; border-top:0; background:#fff; font:bold 10px georgia, serif;} table th.vertalt {border-left:1px solid #ccc; border-top:0; background:#f5fafa; font:bold 10px georgia, serif;}  
/* =Lightbox --------------------------------------------- 
Boss thanks: http://www.huddletogether.com/projects/lightbox/ */
#lightbox {background-color:#eee; padding: 10px;}
#lightboxDetails {font-size: 0.8em; padding-top: 0.4em;} 
#lightboxCaption {float:left; font-size:1.3em;}
#keyboardMsg {float:right; font-size:1.1em;}
#lightbox img {border:none;} 
#overlay img {border:none; position:absolute; z-index:500;}
/*#overlay {background-image:url(../_images/overlay.png);}*/
/** html #overlay {background:transparent url(../_images/overlay_ie.gif) repeat 0 0;}*/