/*
Amber Paulen master stylesheet by Simon Griffee - hypertexthero.com

*/

body {
/*      text-align:center; */
	color:#000; 
	font-family:georgia, serif; 
	font-size:100%; 
	line-height:1.6;
	margin:0; 
	padding:0 2em 10em; 
	background:rgb(253, 253, 253);
	/*url(../img/header-bg.jpg) 0 -182px repeat-x */
	margin:0 auto;
	max-width:45em;
	color:rgb(10, 10, 10);
	} 

a {outline:none !important; font-weight:bold; text-decoration:none;}
a:link, a:visited {color:rgb(30, 140, 190);}
/* a:visited {color:#606;} */
a:hover {color:#606;}
a:active {color:#900; outline:none;}

h1 {
	font-size:250%;
	line-height:1.25;
	font-style:normal;
	margin:0;
}
h2 {
	font-weight:bold;
	font-size:225%;
	margin:0;
}
h3 {
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:0.1em;
	font-size:150%;
	margin:0.8em 0 0.5em;
	border-bottom:1px solid #eee;
	padding-bottom:0.25em;
}
h3 a {font-weight:normal;}
h4 {
	font-weight:normal;
	font-size:150%;
	letter-spacing:0.1em;
	margin:1em 0 0.8em;
}
h5 {
	font-weight:normal;
	font-style:italic;
	font-size:150%;
	margin:1em 0 0.8em;
}
h6 {
	font-weight:bold;
	font-size:100%;
	letter-spacing:0.1em;
	margin:1em 0 0.8em;
}
h1 a, h2 a {color:#000 !important;}

body#page h1,
body#page h2 {margin-top:1.5em;}

p {
    text-align:left;
	font-size:120%;
	margin:1em 0 0;
}
li {font-size:120%;}
ul.worklist li {margin-bottom:1.5em;}
body.home ul.worklist li {margin-bottom:0.5em;}
/*p + p {
    margin:0;
    text-indent:1.5em;
}*/
p + ul, p + ol, p + dl {margin-bottom:1.5em;}

blockquote {border-left:5px solid #eee; padding-left:1.5em; margin:1em 0;}
blockquote small {display:block; line-height:1.7em;}
ul, ol, dl {
	text-align:left;
	list-style:inside;
	color:#333;
	margin-top:0;
	margin-left:0;
	padding-left:0;
	}
body#page ul, 
body#page ol,
body#page dl {margin:1em 0;}
ul.nomargin {margin-left:0; list-style:none;}
dt {font-weight:bold;}
code {font-family:courier, monospace;}
p > code {padding:0.25em; background:#eee;}
pre {text-align:left; font-size:100%;}
hr {height:0; color:#eee; border:1px solid #eee; margin:2em 0 1em;}
abbr, acronym {border-bottom:1px dotted #ccc;}
.small {font-size:90%;}
.small a {font-weight:normal;}
.normal {font-weight:normal;}
.upright {font-style:normal;}
.quiet {color:#999;}
.pull-left {float:left; margin:0.5em 2em 1em 0;}
.pull-right {float:right; margin:0.5em 0 1em 2em;}
.clearfix {clear:both;}
img {margin-bottom:1.25em;} 
/* no twitter avatar */
img.avatar, img.twtr-profile-img, img.u-photo {display:none !important;}
